.editor{
    height: 100vh;
    width: 100vw;
}
.editor >nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: #1b2735;
    color: #ffffff;
    align-items: center;
}

.editor > .editor__content{
    display: flex;
    justify-content: space-between;
}
             