.navbar{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
 background: radial-gradient( #1b2735 0%, #090a0f 100%);
}
.navbar > a{
    text-decoration: none;
    color: white;
}